.blueA {
  background-color: rgb(156, 156, 240) !important;
  border-color: rgb(156, 156, 240) !important;
}
.blueB {
  background-color: rgb(194, 211, 248);
}
.greenA {
  background-color: rgb(155, 240, 183);
}
.greyB {
  background-color: rgb(196, 247, 231);
}
.greyA {
  background-color: rgb(239, 244, 248);
}
.redA {
  background-color: rgb(247, 101, 130);
}