@page {
  size: A4 portrait;
  margin: 0mm;
  padding: 0mm;
}
* {
  margin: 0mm;
  padding: 0mm;
  border-collapse: collapse;
  border-color: black;
}

.page {
  margin: 0 auto;
  padding: 0mm;
  page-break-after: avoid;
  box-sizing: border-box;
  /* ver,hor */
  padding: 5mm 10mm;
  font-size: 12px;
  width: 1024px;
  height: 1440px;
  background-color: cornsilk;
}
body {
  width: 210mm;
  height: 297mm;
  padding: 0mm;
  margin: 0px;
}
table.thick {
  border: 1mm solid;
}
table.normal {
  border: 0.5mm solid;
}
table.half {
  width: 90mm;
  margin: 1.5mm auto;
  padding: 0mm;
}
table.wide {
  width: 190mm;
  margin: 2mm auto;
  padding: 0mm;
}
table._4-4 td {
  width: 45mm;
}
table._3-1-3-1 td:nth-child(odd) {
  width: 35mm;
}
table._3-1-3-1 td:nth-child(even) {
  width: 10mm;
}
table._7-1 td:nth-child(odd) {
  width: 75mm;
}
table._7-1 td:nth-child(even) {
  width: 15mm;
}
table._2-7-2-7 td:nth-child(odd) {
  width: 20mm;
}
table._2-7-2-7 td:nth-child(even) {
  width: 75mm;
}
.textArea {
  height: 24mm !important;
}
td {
  text-align: left;
  text-indent: 1.5mm;
}
table.Large tr {
  height: 11mm;
}
table.Middle tr {
  height: 8.5mm;
}
table.wide td {
  width: 95mm;
}
table.v2 tr {
  height: 8mm;
}
table.w20 td {
  width: 20mm;
}
table.w20 tr {
  height: 8mm;
}
/* Height */
.h_L {
  height: 10mm !important;
}
.h_M {
  height: 8mm !important;
}
.h_S {
  height: 5mm !important;
}
/* Text-Align */
.Left {
  text-align: left !important;
  text-indent: 1.5mm;
}
.Center {
  text-align: center !important;
}
.Right {
  text-align: right !important;
}
.Left-Left {
  text-align: left;
  text-indent: 5mm;
}
/* Font-Size */
.f_L {
  font-size: 16px;
}
.f_M {
  font-size: 12px;
}
.f_S {
  font-size: 10px;
}
.f_Title {
  font-size: 20px;
}